extends layout

block content
    form#deleteForm(method="POST", action="/alunos/delete/" + id)
        input(type="hidden", name="_id", value=id)
    script.
        document.getElementById("deleteForm").submit();
